* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}
.list__adalab {
  border-collapse: collapse;
  width: 100%;
  margin: 50px;
}
.title__list {
  text-align: left;
  background-color: pink;
  &--results {
    background-color: rgb(66, 66, 66);
    color: pink;
  }
}
.form {
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.newAdalaber {
  margin: 20px;
  padding: 20px;
}
a {
  padding-right: 6px;
  padding-left: 6px;
  margin: 5px;
  background-color: pink;
  border-radius: 50px;
  color: gray;
  text-decoration: none;
}
.body {
  background-color: gray;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .input {
//   border: none;
//   border-radius: 20px;
//   outline: none;
//   padding: 5px;
//   margin: 5px;
// }
.title {
  margin: 20px;
}
